/**{                                This is in the common external css - style2
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

#toTopButton{
    display:none;
    position: fixed;
    bottom: 20px;
    right: 18px;
    z-index: 1000;
    font-size: 25px;
    border: none;
    outline: none;
    background-color:#260000;
    color: #c10000;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
}*/

html, body{
    height:100%             /*to match the prallax background*/
}

#coverImage, #image2{
    width:100%;
    height:auto;
}

.contentStripTop{
    height:130px;
    margin-top:30px;
    text-align:center;
}

.contentStripBottom{
    position: relative;
    height:350px;
    margin-top:30px;
    text-align:center;
}

.contentStripBottom .imgDescriptionCommon{
    position: relative;
    top:50%;
}

.contentLarge{
    position: relative;
    height:780px;
    background-color: aliceblue;            /*temporary colour for identification*/
}

.imgLarge, .imgSmall{
    margin: auto;
    width:75%;
}

.imgLarge{
    position: relative;
    top: 20px;
    background-color:red;               /*temperary colour for identification*/
    height:450px;
}

.imgSmall{
    background-color: white;            /*temperary colour for identification*/
    height:310px;
}

.imgSmallLeft{
    position: relative;
    float:left;
    background-color: rebeccapurple;    /*temperary colour for identification*/
    width:50%;
    height:310px;
}

.imgSmallRight{
    position: relative;
    float:right;
    background-color: black;
    width:50%;
    height:310px;
}

.imgDescriptionCommon{
    color:white;
    top: 50%;
    font-size: 20px;
}


.parallaxBackground{
    background-image: url('images/disneyland-wallpaper.jpg');
    height:40%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    opacity:0.8;
}

.caption{                   /*text over parallax area*/
    position: relative;
    width:100%;
    text-align:center;
    top:50%;
    font-style: italic;
}

span.contentOverImg{
    padding:15px;
    font-size: 30px;
    font-weight: 500;
    color: midnightblue;
    background-color: lightgoldenrodyellow;
}



/*#logo{
    max-width: 15%;
    height:auto;
    margin-top: 30px;
    float:left;
}*/

