/**{
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

#toTopButton{
    display:none;
    position: fixed;
    bottom: 20px;
    right: 18px;
    z-index: 1000;
    font-size: 25px;
    border: none;
    outline: none;
    background-color:#260000;
    color: #c10000;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
}*/

html, body{
    height:100%             /*to match the prallax background*/
}

#coverImage, #image2{
    width:100%;
    height:auto;
}

.contentShort{
    height:350px;

}

.contentLong{
    position: relative;
    height:430px;
    background-color: aliceblue;            /*temporary colour for identification*/
}

.parallaxBackground{
    background-image: url('images/disneyland-wallpaper.jpg');
    height:40%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    opacity:0.8;
}

.caption{
    position: relative;
    width:100%;
    text-align:center;
    top:50%;
}

span.contentOverImg{
    padding:15px;
    font-size: 30px;
    font-weight: 500;
    color: midnightblue;
    background-color: lightgoldenrodyellow;
}

hr{
    border-width:2px;
    border-color: chartreuse;        /*temporary colour for identification*/
}

/*#logo{
    max-width: 15%;
    height:auto;
    margin-top: 30px;
    float:left;
}*/

.imgRight{
    position: relative;
    float:right;
    background-color: rebeccapurple;
    width:28%;
    height:85%;
    margin: 30px 100px 30px 0;
}

.imgLeft{
    position: relative;
    float:left;
    background-color: rebeccapurple;
    width:28%;
    height:85%;
    margin: 30px 0 30px 100px;
}

.imgDescriptionRight{
    text-align: center;
    position: relative;
    float:left;
    background-color: blue;    /*not requ.     only for identification*/
    width:40%;                  /*not requ.     only for identification*/
    height:85%;                  /*not requ.     only for identification*/
    margin: 30px 0 0 100px;
}

.imgDescriptionLeft{
    text-align: center;
    position: relative;
    float:right;
    background-color: blue;     /*not requ.     only for identification*/
    width:40%;                  /*not requ.     only for identification*/
    height:85%;                  /*not requ.     only for identification*/
    margin: 30px 100px 0 0;
}
.imgDescriptionCommon{
    position: relative;
    color:white;
    top: 50%;
    font-size: 20px;
}