*{
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

#toTopButton{
    display:none;
    position: fixed;
    bottom: 20px;
    right: 18px;
    z-index: 1000;
    font-size: 25px;
    border: none;
    outline: none;
    background-color:#260000;
    color: #c10000;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
}

footer{
    display:block;
    height:200px;
    background-color: rgb(34, 34, 34);
}

/*header styling*/

header{
    background:#c10000;
    height: 100px;
    transition: all 1s ease-in-out;
}
header:hover{
    background:#ff4949;        
}
header img{
    height: 100%;
    margin-top: 10px;
    margin-left: 15px;
}

#logo{                          /*logo placement above the navbar(in the)*/
    max-width: 15%;
    height:auto;
    margin-top: 30px;
    float:left;
}