@import url(TTCommons/stylesheet.css);

* {
    margin: 0;
    padding: 0;
    font-family: "TT Commons", sans-serif;
}

html{
    scroll-behavior: smooth;
}

#toTopButton{
    display:none;
    position: fixed;
    bottom: 20px;
    right: 18px;
    z-index: 1000;
    font-size: 25px;
    border: none;
    outline: none;
    background-color:#183048;
    color: #00c2e4;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
}

/*---------footer---------*/
footer{
    position: relative;
    display:block;
    height:200px;
    background-color: rgb(34, 34, 34);
    color:white;
}

#footLink{
    position: absolute;
    width:250px;
    transform: translate(-50%, -50%);           /*centering to top left corner*/
    top:50%;
    left:50%;
}

#footLink a img{
    height: 60px;
    width: 60px;
    border-radius:50%;
}

#footLink a span{
    float: right;
    color:white;
    margin: 25px 35px 0 0px;
    font-size: 18px;
}

#lastEdit{
    position: absolute;
    bottom:10px;
    right: 70px;
}

/*header styling*/

header{
  height: 50px;
  background-color: #183048;
}

header img{
    height: 100%;
    margin-top: 5px;
    margin-left: 15px;
}

#logo{                          /*logo placement above the navbar(in the)*/
    max-width: 15%;
    height:auto;
    margin-top: 30px;
    float:left;
}


/*---------breadcrumb---------*/
#breadCrumb{
    font-size: 16px;
}

#breadCrumb a:link{
    color:black;
    text-decoration: none;
}

#breadCrumb a:hover{
    color: blue;
    text-decoration: underline;
}

#breadCrumbCurrent{
    color: blue
}


/*Navigation bar*/
.navigationBar{
    overflow: hidden;
    background-color: #183048;
    height: 50px;
}

.navigationBar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    transition: 0.1s;
}

.navigationBar a, .navigationBar div{
    border-radius:3px;
}

.dropdownMenu {
    float: left;
    overflow: hidden;
}

.dropdownMenu .dropdownMenuDiv {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 16px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navigationBar a:hover, .dropdownMenu:hover .dropdownMenuDiv {
    background: linear-gradient( to top,#00c2e4,#183048 30%);
    color:white;
}

.dropdownMenuContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 45px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.dropdownMenuContent a {
    float: none;
    color: #183048;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
 
.dropdownMenuContent a:hover {
    background-color: #ddd;
}
  
.dropdownMenu:hover .dropdownMenuContent {
    display: block;
    width: 140px;
}