#navLogo{
    height: 50px;   /*same height as the navbar*/
}
body{
    background: #183048;
    margin:0;
}

/*---------breadcrumb---------*/
#breadContainer{
    background-color: #f8f8fb;
    padding: 1px;
}

#formEnclosure{
    height: 100vh;
}

#commentsForm{
    font-weight:500;
    font-size:1.05em;
    position: absolute;
    text-align:center;
    width: 350px;
    background-color: #eeeeee;
    padding: 30px;
    top:50%;
    left:50%;
    border-radius: 4px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%, -50%);           /*fallback*/
    -ms-transform: translate(-50%, -50%);               /*fallback*/
}
.formInput{
    font-size:0.95em;
    border:0;
    text-align: center;
    border-radius: 6px;
    transition: 0.25s;
}
.formInput:focus{
    border: 2px solid rgb(124, 180, 252);
    background-color: aliceblue;
    outline:0;
}
fieldset{
    border:none;
}
form input[type=radio]{
    display: none;
}
.material-icons{
    cursor: pointer;
    color: #F9BF3B;
    transition: 0.2s;
}
.material-icons:hover{
    transform: scale(1.4);
}
#chosenRating{
    font-size: 0.85em;
}
#comments{
    padding:15px 5px;
}
#customerName, #email{
    line-height: 16px;
    width: 220px;
    padding:10px;
}
.buttons{
    font-size: 0.95em;
    font-weight:600;
    border:2px solid;
    border-radius: 10px;
    padding:6px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color:white;
    transition: 0.5s;
}
.buttons:focus{
    outline:0;
}
form input[type=reset]{
    border-color: rgb(231, 76, 60);
}
form input[type=reset]:hover{
    background-color: rgb(231, 76, 60);
    cursor: pointer;
    color: white;
}
form input[type=submit]{
    border-color: lightseagreen;
}
form input[type=submit]:hover{
    background-color: lightseagreen;
    cursor: pointer;
    color: white;
}


/*need to try to change radios to stars*/