
h1{
    font-weight:300;
    text-align: center;
    padding:80px;
    background-color: white;
}

p{
    margin-left:50px;
}

/*#breadCrumb a:link{
    color:black;
    text-decoration: none;
}

#breadCrumb a:hover{
    color: blue;
    text-decoration: underline;
}

#breadCrumbCurrent{
    color: blue
}*/

.flex-container{
    background-color: #f8f8fb;
    width:95%;
    margin: auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;              /*items are distributed so that the spacing between any two items (and the space to the edges) is equal.*/
    margin-bottom: 50px
}

.rideBlock{
    /*border: 1px solid white;            /*match border colour with background colour, so that images won't move around when hovered*/
    border-radius: 12px;
    height:450px;
    width:450px;
    margin:20px 5px 20px 5px;
    transition-duration: 0.8s;
    background-color: #183048;
    box-shadow: 0px 3px 10px 1px grey;
    overflow: hidden;
}

.rideBlock:hover{
    border-radius: 12px;
    box-shadow: 0px 1px 6px 1px #B721FF;
}

.rideImgBlock{
    /*border: 1px solid lightgray;          for identification*/
    height:390px;
    width:100%;
    margin: auto;
    overflow: hidden;
    position: relative;             /*for overlay text*/
}

.rideImgBlock img{
    width:100%;
    min-height: 410px;
}

.rideImgTag{
    height:50px;
    width:380px;
    margin:auto;
    text-align: center;
    position: relative;
    font-size: 1.2em;
}

.rideName{
    position:absolute;
    color:white;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.rideImgBlock:hover .overlay{
    height: 100%;
}

.textOverlay{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}