/**{                                This is in the common external css - style2
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

#toTopButton{
    display:none;
    position: fixed;
    bottom: 20px;
    right: 18px;
    z-index: 1000;
    font-size: 25px;
    border: none;
    outline: none;
    background-color:#260000;
    color: #c10000;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
}*/

html, body{
    height:100%             /*to match the prallax background*/
}



#coverImage{
    width:100%;
    height:auto;
}

.contentStripTop{
    height:130px;
    margin-top:30px;
    text-align:center;
}

.contentStripBottom{
    position: relative;
    height:400px;
    margin-top:30px;
}


.contentLarge{
    position: relative;
    height:1000px;
    background-color: aliceblue;            /*temporary colour for identification*/
}


.imgLarge, .imgSmall{
    margin: auto;
    width:85%;
    overflow: hidden;
}

.imgLarge img, .imgSmall img{
    transition: transform 2000ms;
}


.imgLarge{
    position: relative;
    top: 20px;
    background-color:red;               /*temperary colour for identification*/
    height:600px;
}

.imgSmall{
    background-color: white;            /*temperary colour for identification*/
    height:350px;
}

.imgSmallLeft, .imgSmallRight{
    position: relative;
    width:50%;
    height:350px;
    overflow: hidden;
}

.imgSmallLeft{
    float:left;
    background-color: rebeccapurple;    /*temperary colour for identification*/
}

.imgSmallRight{
    float:right;
    background-color: black;
}

.imgDescriptionCommon{
    color:white;
    font-size: 20px;
    position: absolute;
    top: 8px;
    left: 16px;
    z-index: 100;
}




.parallaxBackground{
    background-image: url('../images/MainPG-images/northern-lights.jpg');
    height:40%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    opacity:0.9;
}

.caption{                   /*text over parallax area*/
    position: relative;
    width:100%;
    text-align:center;
    top:50%;
    font-style: italic;
}

span.contentOverImg{
    padding:15px;
    font-size: 30px;
    font-weight: 500;
    color: midnightblue;
    background-color: lightgoldenrodyellow;
}





.contentLarge img{
    width:100%;
    height: 100%;
}

.contentLarge img:hover, .contentStripBottom img:hover{
    transform: scale(1.1);
}

.contentStripBottom img{                    /*get this into a common class and apply to all images later*/
    width: 100%;
    transition: transform 2000ms;
}



/*#logo{
    max-width: 15%;
    height:auto;
    margin-top: 30px;
    float:left;
}*/

