body{
    background: rgb(33,212,253);
    background: linear-gradient(90deg, rgba(33,212,253,1) 0%, rgba(183,33,255,1) 100%);
    margin:0;
}

form{
    position: absolute;
    text-align:center;
    width: 350px;
    background-color: #eeeeee;
    padding: 30px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 4px;
}

.formInput{
    border:0;
    text-align: center;
    border-radius: 6px;
    transition: 0.25s;
}

.formInput:focus{
    border: 2px solid rgb(124, 180, 252);
    background-color: aliceblue;
    outline:0;
}

#comments{
    padding:15px 5px;
}

#customerName, #email{
    line-height: 16px;
    width: 220px;
    padding:10px;
}

.buttons{
    border:2px solid;
    border-radius: 10px;
    padding:6px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color:white;
    transition: 0.75s;
}

.buttons:focus{
    outline:0;
}

form input[type=reset]{
    border-color: rgb(231, 76, 60);
}

form input[type=reset]:hover{
    background-color: rgb(231, 76, 60);
    cursor: pointer;
    color: white;
}

form input[type=submit]{
    border-color: lightseagreen;
}

form input[type=submit]:hover{
    background-color: lightseagreen;
    cursor: pointer;
    color: white;
}

#logo{
    max-width: 15%;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 60px;
}

/*need to try to change radios to stars*/