h1{
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 12;
}

.rideBlock{
    background-color: blueviolet;
    height:500px;
    width:400px;
}

.grid-container{            /*remove grid and use percentages with flexbox*/
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(20,50px);
}

.flex-container{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: ;
    display:flex;
    flex-wrap:wrap;
}